@import url('../fonts/css/alk-sanet.min.css');
body
{
  background-color: black;
  background-repeat: no-repeat, repeat;
}
h1
{ 
  font-size: 80px;
  position: relative;
  top: 150px;
  text-align: center;
  color: white;
  font-family:  "ALK Sanet", sans-serif;
}

.inf
{
	position: fixed;
    opacity: 0.3;
	width: 100%;
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

.info
{
  max-width: 200px;
  display: inline-flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.info h1
{
  margin: 15px;
}
a
{
  text-decoration: none;
  
}