
@import url('../fonts/css/alk-sanet.min.css');
body{
  background-color: #000000;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.section {
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}

.grid {
  
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.grid:after {
  clear: both;
}

.grid:after, .box:before {
  content: '';
  display: table;
}

.grid li {
  width: 200px;
  height: 200px;
  margin : 15px;
  display: inline-block;
  }


.box {
   
   margin-top: 10px;
   width: 100%;
   height: 100%;
   position: relative;
   cursor: pointer;
   border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out, 
  -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out, 
  -moz-transform 0.3s ease-in-out;
   transition: all 0.3s ease-in-out, 
   transform 0.3s ease-in-out, ;
}

.box:hover {
  transform: scale(1.05); 
}

.info {
  position: absolute;
  width: inherit;
  height: inherit;
}


img
{

  max-width: 90%;
  border-radius: 5px;
  margin-top: -90px;

}
.textw
{
  width: 100%;
  position: relative;
  
}
.textw h1
{
   text-align: center;
   color:#ffff;
   font-size: 1.5vw;
    font-family: "ALK Sanet", sans-serif;


}

.imagec
{
  border-radius: 10px;
  padding-top: 100px;
  width: 500px;
}


/*members*/
.members-par
{
   font-family: "ALK Sanet", sans-serif;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    font-size: 16px;
    line-height: 24px; 
    width: 1050px;
    text-indent: 15px;
}

.members-img
{
  margin-left: 150px;
  margin-top: 5px;
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 15px;
  float: left;
}
.members-a
{
  color: yellow;
}
.members-a:hover
{
  color: red;
}
.facts h1
{
    position: relative ;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "ALK Sanet", sans-serif;
}
.facts ul
{
   margin-top:25px;
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   line-height: 30px;
   max-width: 900px;
   font-family: "ALK Sanet", sans-serif;
   vertical-align: all;
}
.facts li
{
  color:white;
}