
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{background-color:black;
}
           

.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pmetal{
  	color:#dbc200;

  }
.albums-a
{
    color:#a10000;
}
   .par
 { 
 	margin-left:250px;
 	padding-top: 5px;
	color: white; 
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-align: justify; 
    text-justify: inter-word;
    white-space: pre-wrap;
    font-family: 'ghalo',sans-serif;
     }
.parmetal
 { 
 	margin-left:250px;
 	padding-top: 5px;
	color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-align: justify; 
    text-justify: inter-word;
     }

    .hr1
    {
    	max-width: 900px;
    	margin-left: 250px;
    }
    .h1p
    {
    	color:white;
    	text-align: center;
    	font-size: 26px;
    	
    }
    h1{
    	color:white;
    	margin: 5px;
    	text-align: center;
    }
    

    {
    	color: white;
    }
    .influence
    {   
    	color:#ecf0f1;
    	text-align: center;
    	margin:5px;
    	font-size: 25px;
        font-family: 'ghalo',sans-serif;
        unicode-range: U+00-FF, U+980-9FF;
    }
ul
    {
   
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   white-space:pre-line;
   color: white;
   max-width: 900px;
}
h6
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: gray;
    font-size: 10px;
}
html
{
    scroll-behavior: smooth;
}
