body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.content h1 {
  color:white;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 20px;
 
  margin-top: -20px;

}
.content p
{
color: white;
font-family: "BPG Nino Mtavruli", sans-serif;
margin-top: 50px;
font-style: italic bold;
}
.container
{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .card
{
  display: grid;
  align-items: center;
  position: relative;
  width: 400px;
  height: 150px;
  margin: 25px;
  padding:10px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out, 
  -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out, 
  -moz-transform 0.3s ease-in-out;
   transition: all 0.3s ease-in-out, 
   transform 0.3s ease-in-out, ;

}
.card:hover {
  transform: scale(1.05); 
}

.container .card .imgbox
{
  max-width: 150px;
  flex: 0 0 150px;
}
.container .card .imgbox img
{
  max-width: 100%;
}
.container .card .content
{
margin-left: 20px;
}
@media (max-width:768px)
{
  .container
  {
    flex-direction: column;
  }
  .container .card
  {
    flex-direction: column;
    max-width: 350px;
  }
   .container .card .imgbox
  {
    max-width: 100%;
  }
  .container .card .content
{
margin-left: 20px;
}
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
}