@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: black;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.title-ride
{ 
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#494399;
}
.par
 { 
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-align: justify; 
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
     }
 .songlist img
 { 
  margin-left: 220px;
  max-width: 300px;
  display: inline-block;
  padding-top: 5px;
  border-radius: 10px;
  float: left;
 }
 .songlist h1
 {
    position: relative;
    top: 18px;
    left: 100px;
    color: white;
    font-size: 22px;
    font-family: 'Teko', sans-serif;
}
.songlist ul
 {  
    position: relative;
    margin:30px;
    left: 100px;
    line-height: 25px;
    color: white;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}
 a
 {
  color: white;
 }
 .songlist .facts-h1
 {
    position: relative ;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'bpg-nibo-mtavruli', sans-serif;
 }
 .songlist .facts-ul
 {
   margin-top:25px;
   font-size: 18px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   max-width: 900px;
   white-space:pre-line;

 }
 .ride-a
 {
  color:#2d65b0;
 }