@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('../fonts/css/bpg-nino-mtavruli.css');
@import url('../fonts/css/alk-sanet.min.css');


body{
  background-color: black;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.title-ride
{ 
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#494399;
}
.par
 { 
    margin-left:auto;
    margin-right: auto;
    padding-top: 10px;
    color: white; 
    font-size: 16px;
    line-height: 24px;
    max-width: 900px;
    font-family: "ALK Sanet", sans-serif;
    font-style: bold;
    text-indent: 15px;
    
     }
.songlist .ride-img
{
   margin-left: 260px;
}
 .songlist img
 { 
  margin-left: 220px;
  max-width: 300px;
  display: inline-block;
  padding-top: 5px;
  border-radius: 10px;
  float: left;
 }
 .songlist h1
 {
    position: relative;
    top: 18px;
    left: 100px;
    color: white;
    font-size: 22px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.songlist ul
 {  
    position: relative;
    margin:30px;
    left: 100px;
    line-height: 25px;
    color: white;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}
.songlist:after {
  clear: both;
}

.songlist:after, .box:before {
  content: '';
  display: table;
}

 a
 {
  color: white;
 }
 .songlist .facts-h1
 {
    position: relative ;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "ALK Sanet", sans-serif;
  

 }
 .songlist .facts-ul
 {
   margin-top:25px;
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   line-height: 30px;
   max-width: 900px;
  
   font-family: "ALK Sanet", sans-serif;

 }
 /*kill*/
 .titleh1
{ 
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#a31811;
}
 .kill-a
 {
  color:#ee1b22;
 }
/*ride*/
 .ride-a
 {
  color:#2d65b0;
 }
 span
 {
  font-size: 16px;
 font-family: 'Poppins', sans-serif;
 }
 

/*MASTER*/
.master-title
{ text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#972f3a;
}
.master-a
{
  color:#f9ae43;
}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}


/*AJFA*/

.title-ajfa
{
  color:#b8d28a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.ajfa-a
{
  color: #78e395;
}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}

/*Black album*/


.title-black
{
   color:#d6d6d6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;

}
.black-i
{
  font-style: italic;
  color: #878787;
}
.black-a
{
  color: #878787;
}

/*load*/

.title-load
{
  color: #bd2f38;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.load-a
{
  color: #d3463e;
}
.load-i
{
  color: #d56853;
  font-style: italic;
}

/*reload*/
.title-reload
{
  color:#b42e30;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.reload-a
{
  color:#f5c016;
}
.reload-i
{
  color: #c9c8c7;
  font-style: italic;
}
/*stanger*/
.st-a
{
  color:#f26225;
}
.title-st
{
  color:#d51f36;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.st-i
{
  color: #c9c8c7;
  font-style: italic;
}
/*death magnetic*/
.title-magnetic
{
  color:#c4c4c7;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.magnetic-a
{
  color:#949294;
}
.magnetic-i
{
  color: #c9c8c7;
  font-style: italic;
}