@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('../fonts/css/bpg-nino-mtavruli.css');
@import url('../fonts/css/alk-sanet.min.css');


body{
  background-color: black;
  
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.title-ride
{ 
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#494399;
}
.par
 { 
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    font-size: 16px;
    line-height: 24px;
    max-width: 900px;
    font-family: "ALK Sanet", sans-serif;
    font-style: bold;
    text-indent: 15px;
    
     }
.songlist .ride-img
{
  margin-left: 225px;
  justify-content: center;
  max-width: 300px;
  display: inline-block;
  padding-top: 15px;
  float: left;

}

 .songlist h1
 {
    position: relative;
    top: 18px;
    color: white;
    font-size: 22px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.songlist ul
 {  
    position: relative;
    margin:30px;
    line-height: 25px;
    color: white;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    
}
.songlist .songs li:hover{

   transform: scale(1.09);
    
}
.songlist .songs{left: 100px;}
.songlist:after {
  clear: both;
}

.songlist:after, .box:before {
  content: '';
  display: table;
}

 a
 {
  color: white;
 }
 .songlist .facts-h1
 {
    position: relative ;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "ALK Sanet", sans-serif;
  

 }
 .songlist .facts-ul
 {
   margin-top:25px;
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   line-height: 30px;
   max-width: 900px;
  
   font-family: "ALK Sanet", sans-serif;

 }
 /*kill*/
 .titleh1
{ 
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#a31811;
  margin-bottom: 15px;
}
 .kill-a
 {
  color:#ee1b22;
 }
/*ride*/
 .ride-a
 {
  color:#2d65b0;
 }
 span
 {
  font-size: 16px;
 font-family: 'Poppins', sans-serif;
 }
 

/*MASTER*/
.master-title
{ text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color:#972f3a;
}
.master-a
{
  color:#f9ae43;
}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}


/*AJFA*/

.title-ajfa
{
  color:#b8d28a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.ajfa-a
{
  color: #78e395;
}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}

/*Black album*/


.title-black
{
   color:#d6d6d6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;

}
.black-i
{
  font-style: italic;
  color: #878787;
}
.black-a
{
  color: #878787;
}

/*load*/

.title-load
{
  color: #bd2f38;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.load-a
{
  color: #d3463e;
}
.load-i
{
  color: #d56853;
  font-style: italic;
}

/*reload*/
.title-reload
{
  color:#b42e30;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.reload-a
{
  color:#f5c016;
}
.reload-i
{
  color: #c9c8c7;
  font-style: italic;
}
/*stanger*/
.st-a
{
  color:#f26225;
}
.title-st
{
  color:#d51f36;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.st-i
{
  color: #c9c8c7;
  font-style: italic;
}
/*death magnetic*/
.title-magnetic
{
  color:#c4c4c7;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.magnetic-a
{
  color:#949294;
}
.magnetic-i
{
  color: #c9c8c7;
  font-style: italic;
}
/*hardwired*/
.hardwired-title
{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #c51f0b),
  color-stop(0.15, #144715), 
  color-stop(0.3, #db9e06), color-stop(0.45, #db9e06),
  color-stop(0.6, #c51f0b),color-stop(0.75, #c51f0b), 
  color-stop(0.9, #144715),
  color-stop(1, #144715) );
  background-image: gradient( linear, left top, right top, color-stop(0, #db9e06), 
  color-stop(0.15, #db9e06), 
  color-stop(0.3, #db9e06), 
  color-stop(0.45, #db9e06), 
  color-stop(0.6, #db9e06),color-stop(0.75, #db9e06), color-stop(0.9, #db9e06), color-stop(1, #db9e06) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.hardwired-a
{
  color:#e8c406;
}
.hardwired-a:hover
{
  color: #c51f0b;
}
.hardwired-i
{
  color: #ecf8ec;
  font-style: italic;
  cursor: text;
}
.hardwired-img
{
   margin-left: 225px;
  justify-content: center;
  width: 450px;
  display: inline-block;
  padding-top: 15px;
  float: left;

}
/*garage days re revisited*/
.title-revisited
{
  color: #d3af95;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.re-a
{
  color: #d3af95;
}
.re-a:hover
{
  color: #aa473c;
}
.re-i
{
  color: #8c9294;
  font-style: italic;
  cursor: text;
}
/*garage*/
.title-garage
{
  color: #75b3cd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}


.songlist-garage .ride-img
{
  margin-left: 225px;
  justify-content: center;
  max-width: 300px;
  display: inline-block;
  padding-top: 15px;
  float: left;

}

 .songlist-garage h1
 {
    position: relative;
    margin-left: 800px;
    top: 18px;
    color: white;
    font-size: 22px;
    font-family: "ALK Sanet", sans-serif;
}
.songlist-garage ul
 {  
    display: inline-block;
    margin: 40px;
    *display: inline;  
    color: white;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    
}
.songlist-garage .songs-garage li:hover{

   transform: scale(1.09);
    
}

.songlist-garage:after {
  clear: both;
}

.songlist-garage:after, .box:before {
  content: '';
  display: table;
}
.garage-a
{
  color: #6dbad2;
}
.garage-i
{
  color: #b8d9e7;
  font-style: italic;
  cursor: text;
}
/*lulu*/
.title-lulu
{
  color: #96101f;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.lulu-a
{
  color: #ede9e2;
}
.lulu-a:hover
{
  color:#d3b787;
}
.lulu-i
{
  color: #f0efee;
}
.lulu .lulu-img
{
  float: left;
  max-width: 300px;
  margin-top: -5px;
  padding:15px;

}

/*live albums*/
.live-h1
{
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
}
.live-img
{ 
  float: left;
  max-width: 300px;
  margin-top: -5px;
  padding:15px;
}
.live-img-mexico
{ 
  float: right;
  height: 300px;
  margin-top: -5px;
  padding:15px;
}

/*liveshit*/
#liveshit-title
{
  color: #b6b5b9;
}
.lsh-a
{
  color: #8b545c;
}
/*sm8*/
#sm
{
  color: #8a408d;
}
.sm-a
{
  color: #c9413c;
}
.sm-a:hover
{
  color: #fbf9fa;
}
/*orgullo*/
#orgullo-title
{
  color:#c2303a;
  white-space: pre-wrap;
}
/*6feet*/
#sixfeet-title
{
  color: #8c1601;
}

#big4-title
{
  color: rgb(203, 178, 174);
}
.big4-a
{
  color: #cbb3af;
}
.live-img-tgth
{ 
  float: right;
  height: 250px;
  margin-top: -5px;
  padding:15px;
}
/*grimeys*/
#grimey-title
{
  color:#d8b899;
}
#helping-title
{
  color: #f20507;
}