@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('../fonts/css/bpg-nino-mtavruli.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('../fonts/css/alk-sanet.min.css');






body{
  background-color: rgb(0,0,0);
}

.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}


.song .par 
 { 
  
    font-family: "ALK Sanet", sans-serif;
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-indent: 15px;

  }


 .song iframe
 { 
   margin-left: 50px;
  margin-top: 5px;
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 15px;
  float: left;
 }
 .kill-a
 {
    color:#ee1b22;
 }
h1
{ margin-left:auto;
  margin-right: auto;
  color: white; 
  margin-bottom: auto;
  margin-top: auto;
  font-size: 25px; 
  text-align: center; 
  font-family: "ALK Sanet", sans-serif;
  margin-top: 150px;
 }
 i
 {
  font-style: italic;
 }
 
 .lyric
 {
  margin-left: auto;
  margin-right: auto;
  color: white; 
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 24px; 
  text-align: center; 
  white-space: pre-wrap;
  font-family: 'Montserrat', sans-serif;
  
 }


 
 .kill-span
 {
  color:#ee1b22;
 }

hr
{
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.cliff
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.1;
}
.ride-a
{
  color:#2d65b0;
}
.ride-par
{
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    font-family: "ALK Sanet", sans-serif;
    text-indent: 15px;
}
.song .ride-img
 { 
  margin-left: 50px;
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 15px;
  float: left;
}


h3
{
  color:gray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
  font-family: 'Poppins', sans-serif;
}

.master-a
{
  color:#f9ae43;
}
.master-q
{
  color:#b5b1a7;
  font-style: italic;
  cursor: text;
}
.song .damage-i
{
  color: gray;
  font-style: italic;
  cursor: text;
}

/*ajfa*/
.ajfa-a
{
  color:#78e395;

}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}
.black-i
{
  font-style: italic;
  color: #dbdbdb;
}
.black-a
{
  color: #878787;
}

/*load*/
.load-a
{
  color: #d3463e;
}
.load-i
{
  color: #e0e0e0;
  font-style: italic;
}
.song .king
{
  white-space: pre-wrap;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: gray;
}

/*reload*/
.reload-a
{
  color:#f5c016;
}
.reload-i
{
  color: ##e0e0e0;
  font-style: italic;
  cursor: text;
}
/*St Anger*/
.st-a
{
  color:#f26225;
}

.st-i
{
  color: #c9c8c7;
  font-style: italic;
  cursor: text;
}
/*Death Magnetic*/
.magnetic-a
{
  color:#949294;
}
.magnetic-i
{
  color: #c9c8c7;
  font-style: italic;
}
