@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('../fonts/css/bpg-nino-mtavruli.css');





body{
  background-color: black;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.par 
 { 
  
  
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-align: justify; 
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;;


    }

 .song iframe
 { 
   margin-left: 50px;
  margin-top: 5px;
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 15px;
  float: left;
 }
 .kill-a
 {
    color:#ee1b22;
 }
h1
{ margin-left:auto;
  margin-right: auto;
  color: white; 
  margin-bottom: auto;
  margin-top: auto;
  font-size: 25px; 
  text-align: center; 
  font-family: "BPG Nino Mtavruli", sans-serif;
  margin-top: 150px;
 }
 i
 {
  font-style: italic;
 }
 
 .lyric
 {
  margin-left: auto;
  margin-right: auto;
  color: white; 
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 24px; 
  text-align: center; 
  white-space: pre-wrap;
  font-family: 'Montserrat', sans-serif;
  
 }


 
 .kill-span
 {
  color:#ee1b22;
 }

hr
{
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.cliff
{
  max-width: 500px;
  border-radius:10px;
  margin-left: auto;
  margin-right: auto;
  

}
.ride-a
{
  color:#2d65b0;
}
.ride-par
{
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
    max-width: 900px;
    text-align: justify; 
     font-family: 'Montserrat', sans-serif;
    white-space: pre-wrap;
}
.song .ride-img
 { 
  margin-left: 50px;
  
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 15px;
  float: left;
}
.song audio

{
  
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
 

}
h3
{
  color:gray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
  font-family: 'Poppins', sans-serif;
}

.master-a
{
  color:#f9ae43;
}
.master-q
{
  color:#b5b1a7;
  font-style: italic;
  cursor: text;
}
.song .damage-i
{
  color: gray;
  font-style: italic;
  cursor: text;
}

/*ajfa*/
.ajfa-a
{
  color:#78e395;

}
.ajfa-i
{
  font-style: italic;
  color: #f2f0e4;
}
.black-i
{
  font-style: italic;
  color: #dbdbdb;
}
.black-a
{
  color: #878787;
}

/*load*/
.load-a
{
  color: #d3463e;
}
.load-i
{
  color: #d56853;
  font-style: italic;
}
