@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('../fonts/css/bpg-nino-mtavruli.css');




body{
  background-color: black;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.par 
 { 
  margin-top: 15px;
  margin-left:250px;
  color: white; 
  font-size: 16px;
  line-height: 24px; 
  max-width: 1000px;
  text-align: justify; 
  text-justify: inter-word;
  white-space: pre-wrap;
  font-family: 'ghalo';
    }

 .song img
 { 
  margin-left:50px;
  max-width: 300px;
  display: inline-block;
  margin-top: -50px;
  border-radius: 10px;
  float: left;
 }
 .kill-a
 {
    color:#ee1b22;
 }
h1
{ margin-left:auto;
  margin-right: auto;
  color: white; 
  margin-top: 10px;
  font-size: 25px; 
  text-align: center; 
  font-family: 'arial';
 }
 
 .lyric
 {
  margin-left: auto;
  margin-right: auto;
  color: white; 
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px; 
  text-align: center; 
  white-space: pre-wrap;
  font-family: 'Montserrat', sans-serif;
  
 }


 
 .kill-span
 {
  color:#ee1b22;
 }

hr
{
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.cliff
{
  max-width: 500px;
  border-radius:10px;
  margin-left: auto;
  margin-right: auto;
  

}
.ride-a
{
  color:#2d65b0;
}
.ride-par
{
    margin-left:auto;
    margin-right: auto;
    padding-top: 5px;
    color: white; 
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
    max-width: 800px;
    text-align: justify; 
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}
.song .ride-img
 { 
  margin-left: 50px;
  margin-top: 5px;
  padding: 5px;
  max-width: 300px;
  display: all;
  border-radius: 10px;
  float: left;
}
.song audio

{
  
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
 

}