
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  background-color: #000000;
}
.headerimg
{
    margin-top: 20px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.section {
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}

.grid {
  
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.grid:after {
  clear: both;
}

.grid:after, .box:before {
  content: '';
  display: table;
}

.grid li {
  width: 200px;
  height: 200px;
  margin : 15px;
  display: inline-block;
  }


.box {
   
   margin-top: 0px;
   width: 100%;
   height: 100%;
   position: relative;
   cursor: pointer;
   border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out, 
  -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out, 
  -moz-transform 0.3s ease-in-out;
   transition: all 0.3s ease-in-out, 
   transform 0.3s ease-in-out, ;
}

.box:hover {
  transform: scale(1.05); 
}

.info {
  position: absolute;
  width: inherit;
  height: inherit;
}

.info h3 {
  font-family: 'roboto', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 42px;
  margin: 0 30px;
  padding: 100px 0 0 0;
  line-height: 1.5;
}

img
{

  max-width: 90%;
  border-radius: 5px;
  margin-top: -90px;

}
.textw
{
  width: 100%;
  position: relative;
  
}
.textw h1
{
   text-align: center;
   color:#ffff;
   font-size: 1.5vw;
   font-family: 'Anton', sans-serif;

}
.cover
{
   text-align: center;
   color:#ffff;
   font-size: 2vw;
   font-family: 'Anton', sans-serif;
   padding-bottom: 20px;
}
.imagec
{
  border-radius: 10px;
  padding-top: 100px;
  width: 500px;
}
.img1
{

}
